.gallery {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
}

body {
  padding: 20px;
}

input:hover,
input:focus {
  border: 1px solid blue;
}

button:hover {
  background-color: blue;
  transition: all 0.3s;
}
